**/node_modules
.git
**/.env
**/.env.*
!**/.env.example
**/.next
**/dist
**/.data
**/*.tsbuildinfo
**/.local
**/.DS_Store
**/*.pem
**/*.key
**/*.sql.gz
**/*.dump
**/*.dump.age
**/*.tar
**/*.tar.gz
coverage
playwright-report
docs
tasks
